setuptools
ctrader-open-api
twisted
pandas
numpy
ta
gymnasium
stable-baselines3
shimmy>=0.2.1
matplotlib
tqdm
lightgbm
scikit-learn==1.8.0
python-dotenv
torch
pyarrow
python-telegram-bot
fastapi
uvicorn
jinja2
aiohttp
PyWavelets
fredapi
yfinance
imbalanced-learn>=0.11.0
setuptools==83.0.0